{% extends 'ElewantAppBundle::Layout/base.html.twig' %}
{% import 'ElewantAppBundle:Macros:utils.html.twig' as utils %}
{% trans_default_domain "herd" %}

{% block content %}

    <section id="herd_tending">

        <h3 class="mx-auto text-center">{{ herd.name }}</h3>

        {% if not herd.elePHPantBreedCounts|length %}
            {{ utils.alert('no-elephpants-yet'|trans({'%name%': app.user.displayName}), 'warning') }}
        {% endif %}

        <div class="row text-center">
            {% for breed, count in herd.elePHPantBreedCounts %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-2">
                    {% include 'ElewantAppBundle:Herd:elephpant.html.twig' with {'breed': breed} %}
                    {% include 'ElewantAppBundle:Herd:controls.html.twig' with {'breed': breed, 'count': count} %}
                </div>
            {% endfor %}
        </div>

        <div class="row mx-auto text-center">
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adoptElePHPants">
                    {{ 'adopt-button'|trans }}
                </button>
            </div>
        </div>

    </section>

    <!-- Modal -->
    <div class="modal fade" id="adoptElePHPants" tabindex="-1" role="dialog" aria-labelledby="adoptElePHPantsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adoptElePHPantsLabel">{{ 'adopting-elephpants-title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col">
                            {% trans with {'%link%': '<a href="http://afieldguidetoelephpants.net/#index" target="_blank" rel="noopener noreferrer">A Field Guide to Elephpants</a>'} %}
                                adopting-help-text
                            {% endtrans %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h5>{{ 'size-regular'|trans }}</h5>
                        </div>
                    </div>
                    <div class="row mt-2">
                        {% for breed in breeds if 'REGULAR' in breed %}
                            <div class="col-lg-3 col-sm-4 col-6 text-center mt-2">
                                {% include 'ElewantAppBundle:Herd:elephpant.html.twig' with {'breed': breed} %}
                                {% include 'ElewantAppBundle:Herd:controls.html.twig' with {'breed': breed} %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h5>{{ 'size-large'|trans }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        {% for breed in breeds if 'LARGE' in breed %}
                            <div class="col-lg-4 col-sm-4 col-6 text-center mt-2">
                                {% include 'ElewantAppBundle:Herd:elephpant.html.twig' with {'breed': breed} %}
                                {% include 'ElewantAppBundle:Herd:controls.html.twig' with {'breed': breed} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'finished-button'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
