<footer>
    <div class="container">
        <div class="row no-gutters">

            <div class="col-md">
                <p class="copyright">{{ 'site.footer.copyright'|trans }} &copy; {{ 'now'|date('Y') }}
                    <a href="http://www.future500.nl/" target="_blank" rel="noopener noreferrer">Future500 B.V.</a>
                </p>
            </div>

            <div class="col-md-3">
                <ul class="social-buttons list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/wantElePHPant" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-md">
                <ul class="quicklinks list-inline">
                    <li class="list-inline-item">
                        <a href="{{ asset('txt/privacy-policy.txt') }}" target="_blank" rel="noopener noreferrer">{{ 'site.footer.privacy-policy'|trans }}</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ asset('txt/terms-of-service.txt') }}" target="_blank" rel="noopener noreferrer">{{ 'site.footer.terms-of-service'|trans }}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
