{% extends 'ElewantAppBundle::layout.html.twig' %}

{% block body %}
    <p><a href="{{ path('herd_list') }}">Back to herd list</a></p>

    <h4>Last 5 formed Herds</h4>
    <p>
    {% for herd in newest_herds %}
        <a href="{{ path('herd_show', {'herdId': herd.herdId}) }}">{{ herd.name }} {{ herd.formedOn|date('Y-m-d H:i:s') }}</a><br />
    {% endfor %}
    </p>

    <h4>Latest adopted ElePHPants</h4>
    <p>
    {% for elephpant in newest_elephpants %}
        <a href="{{ path('herd_show', {'herdId': elephpant.herd.herdId}) }}">{{ elephpant.herd.name }} {{ elephpant.breed }} {{ elephpant.adoptedOn|date('Y-m-d H:i') }}</a><br />
    {% endfor %}
    </p>
{% endblock %}
