{% extends 'Layout/base.html.twig' %}

{% block body %}

    <section id="dev_list_users container">
        <h3>{{ 'development.login_with'|trans }}:</h3>
        {% for user in users %}
            <a href="{{ path('dev_login_as', { 'username': user.username }) }}" class="btn btn-link">
                {{ icon('eye') }} {{ user.username }}
            </a>
        {% endfor %}
    </section>

    <section id="dev_generate_new_user container">
        <a href="{{ path('dev_generate_new_user') }}" class="btn btn-primary">
            {{ icon('plus') }} {{ 'development.generate_new_user'|trans }}
        </a>
    </section>

{% endblock body %}
