<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Home{% endblock %} &bull; Elewant</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">

    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/elewant.min.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

</head>

<body id="page-top"{% if not shrinking_navbar|default(false) %} class="body-shrink-always"{% endif %}>

{% include 'ElewantAppBundle:Layout:navbar.html.twig' %}

{% block body %}
<div class="content container">
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% include 'ElewantAppBundle:Layout:footer.html.twig' %}

<script type="application/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/jquery-easing.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/jquery.easy-autocomplete.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>

<script type="application/javascript" src="{{ asset('build/js/elewant.min.js') }}"></script>

</body>
</html>
