{% extends 'Layout/base.html.twig' %}
{% trans_default_domain "herd" %}

{% block content %}

    <section id="herd_tending">

        <h2 class="section-heading">{{ herd.name }}</h2>

        {% if herd.breeds.isEmpty %}
            {{ alert('no-elephpants-yet'|trans({'%name%': app.user.displayName}), 'warning') }}
        {% endif %}

        <div class="row text-center">
            {% for breed in herd.breeds %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-2">
                    {{ elephpant(breed, herd.filteredByBreed(breed).count, true) }}
                </div>
            {% endfor %}
        </div>

        <div class="row mx-auto text-center">
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adopt_elephpants">
                    {{ 'adopt-button'|trans }}
                </button>
                <a class="m-2 page-scroll active" href="#desired_breeds">{{ 'desire-breed-button'|trans }}</a>
            </div>
        </div>

    </section>

    <section id="desired_breeds">

        {% if herd.desiredBreeds.isEmpty %}
            {{ alert('no-desired-breeds-yet'|trans, 'info') }}
        {% else %}
            <p class="text-center">{{ 'desire-text'|trans }}</p>
        {% endif %}

        <div class="row text-center">
            {% for breed in herd.desiredBreeds %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-2">
                    {{ elephpant(breed) }}
                </div>
            {% endfor %}
        </div>

        <div class="row mx-auto text-center">
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#desire_breeds">
                    {{ 'desire-breed-button'|trans }}
                </button>
                <a class="m-2 page-scroll active" href="#herd_tending">{{ 'adopt-button'|trans }}</a>
            </div>
        </div>

    </section>

    <!-- Modal Adopt new Elephpants -->
    <div class="modal fade" id="adopt_elephpants" tabindex="-1" role="dialog" aria-labelledby="adopt_elephpants_label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adopt_elephpants_label">{{ 'adopting-elephpants-title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col">
                            {% trans %}
                                adopting-help-text
                            {% endtrans %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h5>{{ 'size-regular'|trans }}</h5>
                        </div>
                    </div>
                    <div class="row mt-2">
                        {% for breed in herd.breeds.isMissingBreedsWhenComparedTo(regularBreeds) %}
                            <div class="col-lg-3 col-sm-4 col-6 text-center mt-2">
                                {{ elephpant(breed, 0, true) }}
                            </div>
                        {% else %}
                            <div class="col-12">
                                {{ alert('all-regular-elephpants-owned'|trans, 'success') }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h5>{{ 'size-large'|trans }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        {% for breed in herd.breeds.isMissingBreedsWhenComparedTo(largeBreeds) %}
                            <div class="col-lg-4 col-sm-4 col-6 text-center mt-2">
                                {{ elephpant(breed, 0, true) }}
                            </div>
                        {% else %}
                            <div class="col-12">
                                {{ alert('all-large-elephpants-owned'|trans, 'success') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'finished-button'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Desire new Breeds -->
    <div class="modal fade" id="desire_breeds" tabindex="-1" role="dialog" aria-labelledby="desire_breeds_label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="desire_breeds_label">{{ 'desiring-breeds-title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col">
                            {% trans with {'%link%': '<a href="http://afieldguidetoelephpants.net/#index" target="_blank" rel="noopener noreferrer">A Field Guide to Elephpants</a>'} %}
                                desiring-help-text
                            {% endtrans %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h5>{{ 'breeds-not-yet-owned'|trans }}</h5>
                        </div>
                    </div>
                    <div class="row mt-2">
                        {% for breed in herd.breeds.isMissingBreedsWhenComparedTo(allUnwantedBreeds) %}
                            <div class="col-lg-3 col-sm-4 col-6 text-center mt-2">
                                {{ elephpant(breed) }}
                            </div>
                        {% endfor %}
                    </div>
                    {% if not herd.breeds.isEmpty %}
                        <div class="row mt-2">
                            <div class="col text-center">
                                <h5>{{ 'breeds-already-owned'|trans }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            {% for breed in herd.breeds.hasBreedsInCommonWith(allUnwantedBreeds) %}
                                <div class="col-lg-4 col-sm-4 col-6 text-center mt-2">
                                    {{ elephpant(breed) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'finished-button'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
