{% extends 'ElewantAppBundle:Layout:base.html.twig' %}
{% trans_default_domain "history" %}

{% block body %}

    <section id="history" class="container">

        <h2 class="section-heading">{{ 'title'|trans }}</h2>
        <h3 class="section-subheading">{{ 'subtitle'|trans }}</h3>

        <p>
            {% trans with {'%link%': '<a href="http://future500.nl">Future500 B.V.</a>'} %}
            first-paragraph
            {% endtrans %}
        </p>

        <p>
            {% trans %}second-paragraph{% endtrans %}
        </p>

        <p>
            <img class="img-thumbnail img-half-ish rounded float-right" src="{{ asset('bundles/elewantapp/img/history-1.png') }}">
            {% trans with {'%link%': '<a href="https://github.com/f500/elewant/blob/develop/README.md">README.md</a>'} %}
            third-paragraph
            {% endtrans %}
        </p>

        <p>
            {% trans %}fourth-paragraph{% endtrans %}
        </p>

        <blockquote class="blockquote">
            <p>
                {% trans %}fifth-paragraph{% endtrans %}
                <span class="blockquote-footer">Jeroen van der Gulik (@n0x13)</span>
            </p>
        </blockquote>

        <p>
            {% trans %}sixth-paragraph{% endtrans %}
        </p>

        <p>
            {% trans with {'%link%': '<a href="http://future500.nl/vacancy/">Future500</a>'} %}
            seventh-paragraph
            {% endtrans %}
        </p>

        <p>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% trans with {'%link%': '<a href="' ~ path('hwi_oauth_twitter_login') ~ '">' ~ ('site.join-the-herd'|trans) ~ '</a>' } %}
                eight-paragraph
                {% endtrans %}
            {% else %}
                {% trans with {'%link%': '<a href="' ~ path('herd_tending') ~ '">' ~ ('site.tend-to-your-herd'|trans) ~ '</a>' } %}
                eight-paragraph
                {% endtrans %}
            {% endif %}
        </p>

        <p>
            {{ 'kind-regards'|trans }}
        </p>

        <p>
            Elena, Jasper, Mitchel, Mark &amp;&amp; Ramon
            <img class="img-thumbnail rounded mt-3" src="{{ asset('bundles/elewantapp/img/history-2.png') }}">
        </p>

    </section>

{% endblock %}
