{% extends 'ElewantAppBundle:Layout:base.html.twig' %}

{% block body %}

    {# Headings #}

    <section class="container">
        <h2 class="section-heading">Headings</h2>

        <h2 class="section-heading">Section heading</h2>

        <h2 class="section-heading">Section heading</h2>
        <h3 class="section-subheading">With a sub-heading</h3>
    </section>

    {# Alerts #}

    <section class="container">
        <h2 class="section-heading">Alerts</h2>

        {{ alert('You successfully read this important alert message.', 'success') }}
        {{ alert('Better check yourself, you\'re not looking too good.', 'warning') }}
        {{ alert('Change a few things up and try submitting again.', 'danger') }}
        {{ alert('This alert needs your attention, but it\'s not super important.') }}
    </section>

    {# Icons #}

    <section class="container">
        <h2 class="section-heading">Icons</h2>

        <div class="row">
            <div class="col text-center">
                {{ icon('camera-retro') }}
            </div>
            <div class="col text-center">
                {{ icon('camera-retro 4x') }}
            </div>
            <div class="col">
                <ul class="fa-ul">
                    <li>{{ icon('check-square li') }} Checked</li>
                    <li>{{ icon('square li') }} Unchecked</li>
                </ul>
            </div>
            <div class="col text-center">
                {{ icon('spinner spin 2x') }}
                <span class="sr-only">Loading...</span>
            </div>
            <div class="col text-center">
                {{ icon('shield rotate-180') }}
            </div>
            <div class="col text-center">
                <span class="fa-stack fa-lg">
                    {{ icon('square-o stack-2x') }}
                    {{ icon('twitter stack-1x') }}
                </span>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-danger" aria-label="Delete">{{ icon('trash-o') }}</button>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="form-email">Email address</label>
                <div class="input-group">
                    <div class="input-group-addon">{{ icon('envelope-o fw') }}</div>
                    <input type="text" class="form-control" id="form-email" placeholder="Email address">
                </div>
            </div>
        </div>
    </section>

    {# ElePHPants #}

    <section class="container">
        <h2 class="section-heading">ElePHPants</h2>

        <h4>Regular</h4>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLACK_AMSTERDAMPHP_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLACK_SYMFONY_10_YEARS_REGULAR', 0) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLACK_SYMFONY_REGULAR', 1, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_APIGILITY_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_OPENGOODIES_REGULAR', 2) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_ORACLE_REGULAR', 3, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_ORIGINAL_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_SHOPWARE_REGULAR', 4) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_ZEND_REGULAR', 5, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BLUE_ZRAY_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('BROWN_TRUENORTHPHP_REGULAR', 6) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('GOLD_OPENGOODIES_REGULAR', 7, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('GRAY_HACK_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('GREEN_ZF2_REGULAR', 8) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('MULTICOLORED_HAPHPY_REGULAR', 9, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('MULTICOLORED_PHPDIVERSITY_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('ORANGE_PHPARCH_REGULAR', 10) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('PINK_OPENGOODIES_REGULAR', 11, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('PINK_ORIGINAL_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('PURPLE_PHPWOMEN_REGULAR', 12) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('RED_CHILI_REGULAR', 13, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('RED_LARAVEL_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('TEAL_ZEND_REGULAR', 14) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('WHITE_CONFOO_REGULAR', 15, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('WHITE_DPC_REGULAR') }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('WHITE_GLOBALIS_REGULAR', 16) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('WHITE_ZEND_REGULAR', 17, true) }}</div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">{{ elephpant('YELLOW_SUNSHINEPHP_REGULAR') }}</div>
        </div>

        <h4>Large</h4>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLACK_AMSTERDAMPHP_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLACK_SYMFONY_10_YEARS_LARGE', 0) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLACK_SYMFONY_LARGE', 1, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLUE_OPENGOODIES_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLUE_ORACLE_LARGE', 2) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLUE_ORIGINAL_LARGE', 3, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLUE_SHOPWARE_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLUE_ZEND_LARGE', 4) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BLUE_ZRAY_LARGE', 5, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('BROWN_TRUENORTHPHP_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('GREEN_ZF2_LARGE', 6) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('MULTICOLORED_PHPDIVERSITY_LARGE', 7, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('ORANGE_PHPARCH_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('PINK_OPENGOODIES_LARGE', 8) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('PINK_ORIGINAL_LARGE', 9, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('PURPLE_PHPWOMEN_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('RED_CHILI_LARGE', 10) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('RED_LARAVEL_LARGE', 11, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('TEAL_ZEND_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('WHITE_CONFOO_LARGE', 12) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('WHITE_DPC_LARGE', 13, true) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('WHITE_GLOBALIS_LARGE') }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('WHITE_ZEND_LARGE', 14) }}</div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">{{ elephpant('YELLOW_SUNSHINEPHP_LARGE', 15, true) }}</div>
        </div>
    </section>

{% endblock %}
