{% extends 'ElewantAppBundle::Layout/base.html.twig' %}

{% block body %}
    <section id="herd_list">
        <div class="row text-md-center">
            <div class="col-md-12">
                <p><a href="{{ path('herd_list') }}">Back to herd list</a></p>

                <p>
                    {% for breed in breeds %}
                        <a href="#" onclick="abandon('{{ breed }}')">-</a> {{ breed }}:
                        <span id="{{ breed }}_COUNT">0</span>
                        <a href="#" onclick="adopt('{{ breed }}')">+</a></br >
                    {% endfor %}
                </p>
            </div>
        </div>
    </section>

    <script>
        function adopt(breed) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/example/{{ herd.herdId }}/adopt/' + breed);
            xmlHttp.send(null);
            var counter = document.getElementById(breed + '_COUNT');
            counter.innerHTML = parseInt(counter.innerHTML) + 1;
        }

        function abandon(breed) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/example/{{ herd.herdId }}/abandon/' + breed);
            xmlHttp.send(null);
            var counter = document.getElementById(breed + '_COUNT');
            counter.innerHTML = parseInt(counter.innerHTML) - 1;
        }

    </script>

{% endblock %}
