{% extends 'ElewantAppBundle::Layout/base.html.twig' %}

{% block body %}
<section id="herd_list">
    <div class="row text-md-center">
        <div class="col-md-8">
            <h4 class="service-heading">All Herds</h4>
            <p class="text-muted">
                {% for herd in herds %}
                    <a href="{{ path('herd_show', {'herdId': herd.herdId}) }}">{{ herd.name }}</a>
                    <a href="{{ path('herd_abandon', {'herdId': herd.herdId}) }}">(abandon)</a><br />
                {% endfor %}
            </p>
            <p><a href="{{ path('herd_form') }}">Form a new herd</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="{{ path('herd_top_5') }}">View top5 lists</a></p>
            <p><a href="{{ path('herd_search') }}">Search herds</a></p>
        </div>
    </div>
</section>

{% endblock %}
